go 1.21.4

use (
	./Golang/iife
	./Golang/fungsi-closure
	./Golang/faktorial-rekursif
	./Golang/simple-array-sum
	./Golang/fungsi-variadic
	./Golang/solveMeFirst
	./Golang/function
	./Golang/slice
	./Golang/summation
	./Golang/tabel-perkalian
	./Golang/pola-bintang
	./Golang/perulangan
	./Golang/percabangan/switch-case
	./Golang/percabangan/bilangan-terbesar
	./Golang/percabangan/konversi-nilai-angka-ke-huruf
	./Golang/percabangan/variabel-temporary
	./Golang/percabangan/if-elseif-else
	./Golang/jarak
	./Golang/penjumlahan-dua-bilangan
	./Golang/array
	./Golang/constant
	./Golang/hello-world
	./Golang/luas-lingkaran
	./Golang/output-function
	./Golang/variable
)
